section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bege);
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 11;
    bottom: 0px;
}

section span {
    color: var(--wine);
    font-weight: 700;
    cursor: pointer;
}
section span:hover {
    color: var(--pink);
}

.inactive {
    color: var(--wine) !important;
}
.active {
    color: var(--pink) !important;
}