<section>
    <span class="material-symbols-outlined" (click)="redirectTo('/settings')" [class]="activePage === '/settings'? 'active' : 'inactive'">settings</span>
    <span class="material-symbols-outlined" (click)="redirectTo('/manage_participants')" [class]="activePage === '/manage_participants'? 'active' : 'inactive'">manage_accounts</span>
    <span class="material-symbols-outlined" (click)="redirectTo('/calendar')" [class]="activePage === '/calendar'? 'active' : 'inactive'">calendar_month</span>
    <span class="material-symbols-outlined" (click)="redirectTo('/report')" [class]="activePage === '/report'? 'active' : 'inactive'">lab_profile</span>
</section>