main {
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
    justify-content: center;
    gap: 75px;
    color: var(--wine);
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    gap: 20px;
}

main form div {
    display: flex;
    align-items: center;
}

main form div label, main form div span, main form button{
    font-size: 1.4em;
}
main form div input {
    font-size: 0.8em;
}

main form div span {
    margin-left: 10px;
}

main form div span, main form button {
    cursor: pointer;
}

main form button { 
    width: 70%;
    background: var(--blue);
    color: var(--bege);
    border: 2px solid var(--bege);
    border-radius: 5px;
}

.buttonEnable:hover {
    box-shadow: 0px 0px 30px var(--bege);
}

main form button:disabled {
    background: var(--dark-pink);
    cursor: default !important;
    opacity: 0.6;
}
 
main span#custom_info {
    position: absolute;
    font-weight: 700;
}


