/* General Dialog */
div#dialog_container {     
    position: fixed;
    top: 25px;
    left: 5%;
    right: 5%;
    overflow: hidden;
    overflow-y: scroll;
    height: 90vh;
    background: var(--bege);
    border: 1px solid var(--wine);
    z-index: 13;
    text-align: center;
    padding: 5px;
}

div#dialog_container header {position: relative;}
div#dialog_container header h3 {margin-top: 5px; margin-bottom: 20px;}
div#dialog_container header span#close { cursor: pointer; position: absolute; z-index: 14; right: 0px; top: -5px; }


/* Component Style */
div#control {
    margin: 15px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    justify-content: center;
}

div#control span {
    margin: 0px 5px;
}

div#participants_frequency {
    padding: 5px;
    overflow-y: auto;
    height: 65vh;
    border: 1px solid var(--wine);
}

div#participants_frequency div {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;    
    border: 1px solid var(--wine);    
    text-align: center;
    cursor: pointer;   
}

.presence {
    background: var(--blue);
    color: white;
}