div {
    position: fixed;
    top: 20px;
    left: 5%;
    right: 5%;
    /* background: white; */
    overflow: hidden;
    padding: 5px;
    background: var(--bege);
    border: 1px solid var(--wine);
    z-index: 13;
    /* text-align: center; */
    height: 85vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div img {
    width: 100%;
}

div span {
    position: absolute;
    top: 5px;
    left: 5px;
}