section#event_form {
    width: 96%;
    /* border: 1px solid black;     */
    margin: 0px auto;
    margin-top: 50px;
    font-weight: 700;
    padding-bottom: 50px;
    /* height: 80vh; */
    /* overflow: scroll; */
}

div.event_form_line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0px;    
}

div.event_form_line label {
    width: 15%;
    text-align: right;
}

div.event_form_line button {
    padding: 5px 10px;
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

div.event_form_line input {
    width: 65%;
    border: 1px solid black;
    text-align: center;
    resize: none;
    font-size: 1.1em;
    background: rgba(246, 114, 128, .2);
}

div.event_form_line textarea {
    height: 150px;
}


.presence {
    background: var(--blue) !important;
    color: white;
}


div#buttons_event_manager {
    position: fixed;
    z-index: 10;
    display: flex;
    gap: 10px;
    bottom: 100px;
    justify-content: space-around;
    align-items: center;
    left: 0px;
    width: 100%;
}

div#buttons_event_manager span:nth-child(1){
    position: absolute;
    left: 70px;
}
div#buttons_event_manager span:nth-child(2){
    position: absolute;
    left: 10px;
}

div#buttons_event_manager span:nth-child(3){
    position: absolute;
    right: 10px;
}


div#buttons_event_manager span {
    cursor: pointer;
    background: var(--blue);
    border-radius: 50%;
    padding: 4px;
    font-size: 1.5em;
    color: var(--bege);
    font-weight: 700;
}

div#buttons_event_manager span.button_disabled {
    cursor: default;
    background: var(--dark-pink);
}

span#return_button {
    background: var(--blue);
    padding: 5px 15px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    color: var(--bege);
}

span.button_disabled {
    cursor: default;
    background: var(--dark-pink);
}

div.shuffle_line {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.shuffle_line input {
    margin: 0px 10px;
    width: 50px;
    height: 1.5em;
}

div.shuffle_line input:focus {
    border: none;    
    outline: none;
}


img.event_imgs_upload {
    width: 30px;
}

input.upload_files_input {
    /* color: transparent; */
    font-size: 0.8em;
    width: 150px;
}

input.upload_files_input::file-selector-button {
    background: var(--blue);
    font-size: 1em !important;
    color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 2px;
}