<span class="material-symbols-outlined" id="return_button" (click)="returnPage()">keyboard_return</span>

<div id="buttons_event_manager">
    <span [class]="isSaving ? 'material-symbols-outlined rotate-always' : 'not_visible'">{{isSaving ? 'progress_activity': ''}}</span>
    <span [class]="isButtonDisabled() ? 'material-symbols-outlined button_disabled' : 'material-symbols-outlined'" (click)="saveEvent()">save</span>    
    <span class="material-symbols-outlined shuffle_presence" (click)="shuffleParticipants()">casino</span>
</div>

<section id="event_form">
    <div class="event_form_line">
        <label>{{intl.translate("events_manager_title")}}</label>
        <input type="text" [(ngModel)]="event.title"/>
    </div>

    <div class="event_form_line">
        <label>{{intl.translate("events_manager_date")}}</label>
        <input type="date" [(ngModel)]="event.dateStr"/>
    </div>

    <div class="event_form_line">
        <button (click)="openDescriptionModal()">{{intl.translate("events_manager_description")}}</button>
        <button (click)="openPresenceModal()">{{intl.translate("events_manager_presence")}}</button>        
    </div>

    <div class="shuffle_line">
        <label>{{intl.translate("toggle_shuffle_participants")}}</label>
        <input type="checkbox" [(ngModel)]="shuffleViewOrUpdate"/>
    </div>

    <div class="event_form_line">
        <label>{{intl.translate("event_photos_upload")}}</label>
        <img *ngFor="let img of imgUrls" [src]="img.url" class="event_imgs_upload" (click)="openImgModal(img)"/>
    </div>


    <div class="event_form_line">
        <input type="file" multiple [src]="files" class="upload_files_input" #files/>
    </div>

    <div class="shuffle_line">
        <label>{{intl.translate("event_manager_frequency_flag")}}</label>
        <input type="checkbox" [(ngModel)]="event.frequencyFlag" #files/>
    </div>

</section>
