main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 40px;
}

main span {cursor: pointer;}

main span.edit_title {
    position: absolute;
    right: -30px;
}


.not_visible {
    visibility: hidden;
}

.visible {
    visibility: inherit;
}

main input#edit_title_input {
    font-size: 1.4em;        
    text-align: center;
    background: rgba(246, 114, 128, .2);
    font-weight: 700;
    border: 0px;
    cursor: pointer;
}

main input#edit_title_input:focus {
    outline: 2px solid var(--wine);
}

span#logout {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

span#title_loading{
    position: absolute;
    top: -30px;
}

section#participant_manager_table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}