<main>
    <span class="material-symbols-outlined" (click)="logout()" id="logout">logout</span>

    <!-- Title Management -->
    <div>
        <span class="material-symbols-outlined rotate-always" id="title_loading" *ngIf="isUpdatingTitle">progress_activity</span>        
        
        <input 
            id="edit_title_input" 
            type="text"
            [(ngModel)]="newGroupTitle"
            [size]="newGroupTitle ? newGroupTitle.length : 20"
            (keypress)="handleSmallGroupTitleTyping($event)"
            #editTitleInput
        />
        <span class="material-symbols-outlined edit_title" (click)="updateSmallGroupTitle()">edit</span>
        
    </div>
</main>