div {     
    position: fixed;
    top: 20px;
    left: 5%;
    right: 5%;
    /* width: 300px;  */
    height: 500px;
    background: white;
    overflow: hidden;
    padding: 5px;
    background: var(--bege);
    border: 1px solid var(--wine);
    z-index: 13;
}

textarea {
    width: 100%;
    margin-top: 25px;
    height: 450px;
    text-align: center;
    line-height: 1.5em;
}

span { cursor: pointer; position: fixed;}