
tr, td, th {
    border: 1px solid black;
    text-align: center;
    font-weight: 700;
    padding: 0px 5px;
}

th { cursor: default }

td input {
    text-align: center;
    background: rgba(246, 114, 128, .2);
    font-weight: 700;
    border: 0px;
    cursor: pointer;
}

td input:focus {
    outline: 2px solid var(--wine);
}


div#buttons_table_participant_manager {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 100px;
    justify-content: space-around;
    align-items: center;
    left: 0px;
    width: 100%;
}

div#buttons_table_participant_manager span:nth-child(1){
    position: absolute;
    left: 10px;
}
div#buttons_table_participant_manager span:nth-child(2){
    position: absolute;
    right: 70px;
}
div#buttons_table_participant_manager span:nth-child(3){
    position: absolute;
    right: 10px;
}


div#buttons_table_participant_manager span {
    cursor: pointer;
    background: var(--blue);
    border-radius: 50%;
    padding: 8px;
    font-size: 2em;
    color: var(--bege);
    font-weight: 700;
}

div#buttons_table_participant_manager span.button_disabled {
    cursor: default;
    background: var(--dark-pink);
}

.not_visible {
    visibility: hidden;
}
