/* You can add global styles to this file, and also import other style files */
* {margin: 0px; padding: 0px; font-family: 'Roboto', sans-serif;}
*:fullscreen {}
body::backdrop{
  background: rgba(0,0,0,0);
}

body {
    background: linear-gradient(180deg, var(--bege), var(--dark-pink));
    background-attachment: fixed;
    height: 95vh;
 }

:root {
    --bege: #F8B195;
    --pink: #F67280;
    --dark-pink: #C06C84;
    --purple: #6C5B7B;
    --blue: #355C7D;
    --wine: #470517;
}

span.rotate-always {
    animation: spin 3s infinite linear;
    position: absolute;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .pointer { cursor: pointer;}

  .not_visible {
    visibility: hidden;
}

hr {
  border: 1px solid var(--wine);
  width: 99%;
}

input:focus, textarea:focus {
  outline: 2px solid var(--wine);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
