<br/><br/>
<div id="participants_table">
    <div *ngFor="let participant of participants" class="participant_box">
        <div class="participant_line">
            <div class="p_thirty">
                <label>
                    {{intl.translate("manage_participant_table_name_column")}}
                </label>
            </div>
            <div class="p_seventy">
                <input type="text" [(ngModel)]="participant.name" [size]="participant.name ? participant.name.length : 10" (change)="checkIfParticipantsNeedToBeUpdated()"/>
            </div>
        </div>

        <div class="participant_line">
            <div class="p_thirty">
                <label>
                    {{intl.translate("manage_participant_table_alias_column")}}
                </label>
            </div>
            <div class="p_seventy">
                <input type="text" [(ngModel)]="participant.alias" [size]="participant.alias ? participant.alias.length : 10" (change)="checkIfParticipantsNeedToBeUpdated()"/>
            </div>
        </div>

        <div class="participant_line">
            <div class="p_thirty">
                <label>
                    {{intl.translate("manage_participant_table_role_column")}}
                </label>
            </div>
            <div class="p_seventy">
                <select [(ngModel)]="participant.role" (change)="checkIfParticipantsNeedToBeUpdated()" class="role_select">
                    <option value="leader">{{intl.translate("manage_participant_table_leader_role")}}</option>
                    <option value="member">{{intl.translate("manage_participant_table_member_role")}}</option>
                    <option value="guest">{{intl.translate("manage_participant_table_guest_role")}}</option>
                </select>
            </div>
        </div>

        <span class="material-symbols-outlined pointer" (click)="deleteParticipant(participant)">delete</span>        
    </div>
</div>


<div id="buttons_table_manage_participant">
    <span class="material-symbols-outlined" (click)="addNewParticipant()">add_circle</span>
    <span [class]="isSaving ? 'material-symbols-outlined rotate-always' : 'not_visible'">{{isSaving ? 'progress_activity': ''}}</span>
    <span class="material-symbols-outlined" (click)="saveParticipants()" [class]="saveButtonClass">save</span>    
</div>