div#participants_table {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 50px;
}



div.participant_box {
    margin-bottom: 5px;
    border: 1px solid black;
    width: 90%;
    text-align: center;
    font-size: 1.2em;
    position: relative;
}

div.participant_box input, div.participant_box select {
    text-align: center;
    background: rgba(246, 114, 128, .2);
    font-weight: 700;
    border: 0px;
    cursor: pointer;
    font-size: 1em;
    width: 90%;
}

div.participant_box span {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.participant_line {
    display: flex;
    width: 100%;
    margin-bottom: 10px;    
    padding: 3px;
}

div.p_thirty {width: 30%; text-align: right;}
div.p_seventy {width: 70%}

div.participant_box input:focus {
    outline: 2px solid var(--wine);
}


div#buttons_table_manage_participant {
    position: fixed;
    z-index: 10;
    display: flex;
    gap: 10px;
    bottom: 100px;
    justify-content: space-around;
    align-items: center;
    left: 0px;
    width: 100%;
}

div#buttons_table_manage_participant span:nth-child(1){
    position: absolute;
    left: 10px;
}
div#buttons_table_manage_participant span:nth-child(2){
    position: absolute;
    right: 70px;
}
div#buttons_table_manage_participant span:nth-child(3){
    position: absolute;
    right: 10px;
}


div#buttons_table_manage_participant span {
    cursor: pointer;
    background: var(--blue);
    border-radius: 50%;
    padding: 8px;
    font-size: 2em;
    color: var(--bege);
    font-weight: 700;
}

div#buttons_table_manage_participant span.button_disabled {
    cursor: default;
    background: var(--dark-pink);
}

.not_visible {
    visibility: hidden;
}


select.role_select {
    text-align: center;
    background: rgba(246, 114, 128, .2);
    cursor: pointer;
    width: 120px;
}
select.role_select:focus {
    outline: 2px solid var(--wine);
}

td.rowspan3 {
    vertical-align: middle;
}

